$hoverColor: #F16D7F;


.b-cart h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
.b-cart__content {
  padding-top: 96px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.b-cart-products__buttons {
  display: flex;
  justify-content: space-between;
}
.b-cart-products__btn-clr, .b-cart-products__btn-shopping {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 49px;
  color: #000000;
}
.b-cart-products__btn-clr:hover, .b-cart-products__btn-shopping:hover {
  border-color: #F16D7F;
  color: #F16D7F;
}

.b-cart-products-item {
  display: flex;
  width: 652px;
  height: 306px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.b-cart-products-item__img {
  display: block;
}
.b-cart-products-item__details {
  padding: 22px 97px 0 31px;
  position: relative;
  flex-basis: 100%;
}
.b-cart-products-item__details-name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}
.b-cart-products-item__details-name:hover {
  color: #F16D7F;
}
.b-cart-products-item__details-param {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}
.b-cart-products-item__details-price {
  color: #F16D7F;
}
.b-cart-products-item__details-quantity-input {
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
  outline: none;
  text-align: center;
}
.b-cart-products-item__details-btn-del {
  position: absolute;
  top: 28px;
  right: 22px;
  cursor: pointer;
}
.b-cart-products-item__details-btn-del:hover path {
  fill: #F16D7F;
}

.b-cart-buying {
  display: block;
}

.b-cart-shipping {
  display: flex;
  flex-direction: column;
}
.b-cart-shipping__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 20px;
}
.b-cart-shipping__city, .b-cart-shipping__state, .b-cart-shipping__postcode {
  width: 359px;
  height: 44px;
  border: 1px solid #A4A4A4;
  outline: none;
  margin-top: 20px;
  padding: 0 17px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}
.b-cart-shipping__btn-get-quote {
  height: 34px;
  width: max-content;
  margin-top: 24px;
  padding: 0 15px;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: #fff;
  cursor: pointer;
}
.b-cart-shipping__btn-get-quote:hover {
  border-color: #F16D7F;
  color: #F16D7F;
}

.b-cart-goto-checkout {
  margin-top: 58px;
  width: 360px;
  padding: 40px 43px;
  background: #F5F3F3;
  text-align: right;
}
.b-cart-goto-checkout__sub-total {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}
.b-cart-goto-checkout__sub-total-val {
  margin-left: 50px;
}
.b-cart-goto-checkout__grand-total {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
  margin-bottom: 21px;
}
.b-cart-goto-checkout__grand-total-val {
  margin-left: 50px;
  font-weight: 700;
  color: #F16D7F;
}
.b-cart-goto-checkout hr {
  border: none;
  color: #E2E2E2;
  background-color: #E2E2E2;
  height: 1px;
}
.b-cart-goto-checkout__proceed {
  display: block;
  margin-top: 17px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 50px;
  color: #FFFFFF;
  background: #F16D7F;
}
.b-cart-goto-checkout__proceed:hover {
  background: #E05C6E;
  cursor: pointer;
}