@use "cart-product";

$hoverColor: #F16D7F;

.cart-view {
  padding-top: 96px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cart-view__products-box {
  max-width: 652px;
}

.cart-view__product{
  margin-bottom: 40px;
}

.cart-view__products-buttons-box {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.cart-view__products-btn-clear, .cart-view__products-btn-shopping {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 49px;
  color: #000000;
}

.cart-view__products-btn-clear:hover, .cart-view__products-btn-shopping:hover {
  border-color: #F16D7F;
  color: #F16D7F;
}

.cart-view__pricing-box {
  display: block;
}

.b-cart-shipping {
  display: flex;
  flex-direction: column;
}

.b-cart-shipping__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 20px;
}

.b-cart-shipping__city, .b-cart-shipping__state, .b-cart-shipping__postcode {
  width: 359px;
  height: 44px;
  border: 1px solid #A4A4A4;
  outline: none;
  margin-top: 20px;
  padding: 0 17px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.b-cart-shipping__btn-get-quote {
  height: 34px;
  width: max-content;
  margin-top: 24px;
  padding: 0 15px;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: #fff;
  cursor: pointer;
}

.b-cart-shipping__btn-get-quote:hover {
  border-color: #F16D7F;
  color: #F16D7F;
}

.cart-view__total-price-box {
  margin-top: 58px;
  width: 360px;
  padding: 40px 43px;
  background: #F5F3F3;
  text-align: right;
  height: max-content;
}

.b-cart-goto-checkout__sub-total {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.b-cart-goto-checkout__sub-total-val {
  margin-left: 50px;
}

.b-cart-goto-checkout__grand-total {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
  margin-bottom: 21px;
}

.b-cart-goto-checkout__grand-total-val {
  margin-left: 50px;
  font-weight: 700;
  color: #F16D7F;
}

.cart-view__total-price-box hr {
  border: none;
  color: #E2E2E2;
  background-color: #E2E2E2;
  height: 1px;
}

.b-cart-goto-checkout__proceed {
  display: block;
  margin-top: 17px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 50px;
  color: #FFFFFF;
  background: #F16D7F;
}

.b-cart-goto-checkout__proceed:hover {
  background: #E05C6E;
  cursor: pointer;
}

@mixin cart-view_size_tablet {
  .cart-view {
    padding-top: 60px;
    //padding-bottom: 32px;
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;
    flex-direction: column;
    //align-items: center;
    .cart-view__products-box {
      max-width: unset;
    }

    .cart-view__products-buttons-box {
      justify-content: center;
      margin-top: 62px;

      .cart-view__products-btn-clear {
        margin-right: 48px;
      }
    }
    .cart-view__pricing-box {
      display: flex;
      justify-content: space-between;
      margin-top: 64px;
    }
  }
}

@mixin cart-view_size_mobile {
  .cart-view {
    padding-top: 40px;
    //padding-bottom: 32px;
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;
    flex-direction: column;
    //align-items: center;
    .cart-view__products-box {
      max-width: unset;
      .cart-view__product {
        margin-bottom: 32px;
        height: 188px;
      }
    }
    @include cart-product.cart-product_size_mobile;
    .cart-view__products-buttons-box {
      justify-content: space-between;
      margin-top: 30px;
      .cart-view__products-btn-shopping,
      .cart-view__products-btn-clear {
        margin-right: 0;
        font-size: 12px;
        line-height: 33px;
        padding-left: 18px;
        padding-right: 18px;
      }
    }
    .cart-view__pricing-box {
      display: block;
      margin-top: 48px;
    }
  }
}