
.catalog-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin catalog-view_size_desktop {
  .catalog-view {
    $gap: 30px;

    .catalog-product {
      margin-bottom: $gap;
    }
  }
}

@mixin catalog-view_size_tablet {
  .catalog-view {
    $gap: 16px;

    .catalog-product {
      margin-bottom: $gap;
    }
  }
}

@mixin catalog-view_size_mobile{
  @include catalog-view_size_tablet;
}