
.catalog-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin catalog-view_products-gap($gap) {

}

@mixin catalog-view_size_desktop {
  .catalog-view {
    //@include catalog-view_products-gap(30px;
    $gap: 30px;
    margin-left: -$gap/2;
    margin-right: -$gap/2;

    .catalog-product {
      margin: 0 $gap/2 $gap $gap/2;
    }
  }
}

@mixin catalog-view_size_tablet {
  .catalog-view {
    $gap: 16px;
    margin-left: -$gap/2;
    margin-right: -$gap/2;

    .catalog-product {
      margin: 0 $gap/2 $gap $gap/2;
    }
  }
}
