.header {
  background: #222222;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__link-to-search {
  margin-left: 41px;
}

.header__spacer {
  flex-grow: 1;
}

@mixin header_size_tablet{
  .header__link-to-main {
    padding-left: 16px;
  }
  .header-optional{
    padding-right: 16px;
  }
}

@mixin header_size_mobile{
  .header__link-to-main {
    padding-left: 16px;
  }
  .header__menu-switcher{
    padding-right: 16px;
  }
  .header-optional{
    display: none;
  }
}

.header_optional-ml{
  margin-left: 34px;
}

