.header {
  background: #222222;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//.header__link-to-main

.header__link-to-search {
  margin-left: 41px;
}

.header__spacer {
  flex-grow: 1;
}

//.header__link-to-catalog


//.

@mixin header_size_tablet{
  .header__content {
    padding: 0 16px;
  }
}

.header_optional-ml{
  margin-left: 34px;
}