$mainMenuWidth: 232px;
$mainMenuHeight: 765px;

.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: max-content;
  z-index: 1;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: transform 2.2s;
  overflow: hidden;
}

.main-menu-placeholder {
  position: relative;
}

@mixin main-menu_size_desktop() {
  .main-menu__inner-box {
    min-width: $mainMenuWidth;
    width: max-content;
    min-height: $mainMenuHeight;
    height: max-content;
  }
}

@mixin main-menu_size_tablet() {
  .main-menu__inner-box {
    min-width: unset;
    width: $mainMenuWidth;
    min-height: unset;
    height: max-content;
  }
}

@mixin main-menu_size_mobile() {
  .main-menu__inner-box {
    min-width: unset;
    width: 100%;
    min-height: unset;
    height: max-content;
  }
}

.main-menu__inner-box {
  padding: 16px 16px 34px 34px;
  background: white;
}

@include main-menu_size_desktop;

@mixin main-menu_visible_desktop-tablet {
    transition: width 0.2s ease-in-out;
    width: $mainMenuWidth;
}

@mixin main-menu_visible_mobile {
  transition: width 0.2s ease-in-out;
  width: 100%;
}

.main-menu__close {
  text-align: right;
}

.main-menu__heading {
  /*padding: 10px 10px 0 10px */
  padding-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.main-menu__section-heading {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.main-menu__item {
  display: block;
  padding: 5px 63px 5px 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
