.main-offer {
  margin-top: 63px;
}

.main-offer__grid {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}

.main-offer__grid .offer-card:not(:last-child) {
  margin-right: 30px;
}

@mixin main-offer_size_tablet {
  margin-top: 20px;
  .main-offer__grid .offer-card:not(:last-child) {
    margin-right: 20px;
  }
  .main-offer__grid {
    margin-bottom: 20px;
  }
}

@mixin main-offer_size_mobile {
  margin-top: 64px;
  .main-offer__grid {
    flex-direction: column;
    margin-bottom: 20px;
    .offer-card:not(:last-child){
      margin-right: 0;
    }
  }
}