.main-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: max-content;
  z-index: 1;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: transform 2.2s;
  overflow: hidden;
}

@mixin main-menu_size($w, $h){
  width: $w;
  height: $h;
}

.main-menu__inner-box{
  min-width: 232px;
  min-height: 765px;
  padding: 16px 16px 34px 34px;
  background: white;
}

@mixin main-menu_visible {
  transition: width 0.2s ease-in-out;
  width: 232px;
}

.main-menu_visible {
  @include main-menu_visible
}


.main-menu__close {
  text-align: right;
}

.main-menu__heading {
  /*padding: 10px 10px 0 10px */
  padding-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.main-menu__section-heading {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.main-menu__item {
  display: block;
  padding: 5px 63px 5px 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
