.store-features {
  padding-top: 104px;
  padding-bottom: 104px;
  background: #222224;
}

.store-features_mt {
  margin-top: 96px;
}

.store-features__box {
  display: flex;
  justify-content: space-between;
}

.store-features__feature {
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.store-features__feature-heading {
  margin-top: 28px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.store-features__feature-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

@mixin store-features_size_tablet {

  padding-top: 48px;
  padding-bottom: 64px;

  .store-features_mt {
    margin-top: 64px;
  }
  .store-features__box {
    flex-direction: column;
    align-items: center;
  }
  .store-features__feature {
    max-width: 360px;
  }
  .store-features__feature:not(:last-of-type) {
    margin-bottom: 48px;
  }
}
