.b-product-view {
    position: relative;
}

.b-product-view__img-listing {
    position: relative;
    background-color: #F7F7F7;
    border: 1px solid #EAEAEA;
    padding-top: 11px;
    padding-bottom: 42px;
    display: flex;

}

.b-product-view__img-listing-img {
    display: block;
    max-width: 100%;
    margin: auto;
    /*width: 100%;*/
}

/********************************************************************/
.b-product-view__img-listing-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 47px;
    width: 47px;
    cursor: pointer;
    background-color: rgba(42, 42, 42, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-product-view__img-listing-btn:hover path {
    fill: #F16D7F;
}

.b-product-view__img-listing-btn_prev {
    left: 0;
}

.b-product-view__img-listing-btn_next {
    right: 0;
}



/***********************************************************************/


.b-product-view__content-box {
    display: flex;
}

.b-product-view__content {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50% -50px);
    z-index: 10;
    border: 1px solid #6F6E6E;
    background-color: red;
}