@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
}

.header {
    background: #222222;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header__left_search {
    margin-left: 41px;
}
.header__right_account{
    margin-left: 34px;
    margin-right: 34px;
}

.promo {
    display: flex;
    justify-content: center;
}

.promo__left {
    width: 50%;
    display: block;
}

.promo__right {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    width: 50%;
}

.promo__right__content {
    display: flex;
}

.promo__right__content__rect {
    width: 12px;
    background-color: #F16D7F;
    margin-left: 64px;
    margin-right: 16px;
}

.promo__right__content__text h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__right__content__text p {
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
    color: #222222;
}

.promo__right__content__text__mark {
    color: #F16D7F;
}

.offer__top {
    display: flex;
    gap: 30px;
    margin-top: 63px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.offer__top div img {
    width: 100%;
}

.offer__top img {
    display: block;
}

.offer__bot img {
    width: 100%;
}

.offer__card {
    position: relative;
}

.offer__card__text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer__card__text p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.offer__card__text p span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}