@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, serif;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.header_top_bg {
    background: #222222;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_top__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.header__left_search {
    margin-left: 41px;
}

.header__right_account {
    margin-left: 34px;
    margin-right: 34px;
}

.promo {
    display: flex;
}

.promo__left {
    flex-basis: 50%;
    background: rgba(113, 103, 105, 0.08);
    display: flex;
    justify-content: flex-end;
}

.promo__left__img {
    width: 100%;
    flex-basis: 800px;
    /*max-width: 800px;*/
}

.promo__right {
    flex-basis: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
}

.promo__right__content {
    display: flex;
    max-width: 550px;
}

.promo__right__content__rect {
    width: 12px;
    background-color: #F16D7F;
    margin-left: 64px;
    margin-right: 16px;
}

.promo__right__content__text {

}

.promo__right__content__text__hdr {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__right__content__text__p {
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
    color: #222222;
}

.promo__right__content__text__p__mark {
    color: #F16D7F;
}

.offer__top {
    display: flex;
    margin-top: 63px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.offer__top .offer__card:not(:last-child) {
    margin-right: 30px;
}

.offer__top div img {
    width: 100%;
}

.offer__top img {
    display: block;
}

.offer__bot img {
    width: 100%;
}

.offer__card {
    position: relative;
}

.offer__card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.offer__card__text__l1 {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.offer__card__text__l2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.products {
    margin-top: 97px;
    text-align: center;
}

.products__hdr {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.products__text {
    margin-top: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.products__inner {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    max-width: 360px;
    background: #F8F8F8;
}

.product__img {
    position: relative;
}

.product__img__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    border: 1px solid #FFFFFF;
    padding: 8px 13px;
    display: none;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}


.product:hover .product__img__btn {
    display: flex;
}

.product__img__btn:hover {
    box-shadow: 0 0 5px #fff;
}

.product__img__btn__cart_img {
    padding-right: 11px;
}

.product:hover .product__img__content {
    filter: brightness(50%);
}

.product_mb {
    margin-bottom: 30px;
}

.product__summary {
    padding: 25px 16px 20px 16px;
    text-align: left;
}

.product__summary__title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product__summary__text {
    padding-top: 12px;
    padding-bottom: 18px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.product__summary__price {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.products__bot {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.products__bot__browse {
    text-align: center;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.products__bot__browse:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

.footer {
    margin-top: 96px;
    background: #222224;
}

.footer__subscribe {
    background-image: url('img/subscribe_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-position: center;
    min-height: 448px;
}

.footer__subscribe__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 86px;
    padding-bottom: 126px;
}

.footer__subscribe__inner__citation {
    width: 360px;
    text-align: center;
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.footer__subscribe__inner__citation__text {
    margin-top: 30px;
}

.footer__subscribe__inner__form {
    width: 557px;
    max-width: 50%;
    text-align: center;
}

.footer__subscribe__inner__form__hdr {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.footer__subscribe__inner__form__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    margin-bottom: 32px;
}

.footer__subscribe__inner__form__inputs {
    display: flex;
    justify-content: center;
}

.footer__subscribe__inner__form__inputs__email {
    width: 322px;
    flex-shrink: 0.1;
    height: 50px;
    background: #E1E1E1;
    border: 0;
    border-radius: 25px 0 0 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    padding: 7px 22px;
}

.footer__subscribe__inner__form__inputs__submit {
    /*display: inline-block;*/
    flex-shrink: 1;
    /*flex-grow: 1;*/
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    /*width: 100px;*/
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    background: #F16D7F;
    border: 0;
    border-radius: 0 25px 25px 0;
}

.footer__subscribe__inner__form__inputs__submit:hover {
    background: #E05C6E;
}

.features {
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    justify-content: space-between;
}

.feature {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}

.feature__caption {
    margin-top: 28px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.feature__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

.footer__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.footer__bot__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__bot__sm__links {
    display: flex;
}

.footer__bot__sm__links__item {
    height: 32px;
    width: 32px;
    margin-left: 8px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bot__sm__links__item:hover {
    background: #F16D7F;
}

.footer__bot__sm__links__item:hover .footer__bot__sm__links__item__logo {
    filter: invert(1);
}

.catalog__top {
    padding: 60px 0;
    background: #F8F3F4;
}

.catalog__top__inner {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.catalog__top__breadcrumbs__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.catalog__top__section_name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.catalog__top__breadcrumbs__link:last-child {
    font-weight: 700;
    color: #F16D7F;
}

.catalog__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__bot {
    display: flex;
    justify-content: center;
}

.catalog__page_sel {

}