//@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

//@font-face {
//  font-family: 'Lato', sans-serif;
//  src: url('../fonts/Lato-Regular.ttf');
//  src: local('Lato');
//  //url('Metrophobic-webfont.eot?#iefix') format('embedded-opentype'),
//  //url('Metrophobic-webfont.woff') format('woff'),
//  //url('Metrophobic-webfont.ttf') format('truetype'),
//  //url('Metrophobic-webfont.svg#MetrophobicRegular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/S6u9w4BMUTPHh7USeww.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/S6uyw4BMUTPHvxo.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/S6u9w4BMUTPHh6UVeww.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/S6u9w4BMUTPHh50Xeww.woff) format('woff');
}
