.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  max-width: 100vh;
  min-height: 100%;
  background: white;
  padding: 16px 16px 34px 34px;
  z-index: 1;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: none;
}

@mixin main-menu_visible {
  display: block;
}

.main-menu_visible {
  @include main-menu_visible
}

.main-menu__close {
  text-align: right;
}

.main-menu__heading {
  /*padding: 10px 10px 0 10px */
  padding-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.main-menu__section-heading {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.main-menu__item {
  display: block;
  padding: 5px 63px 5px 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
