$hoverColor: #F16D7F;

.b-site-location-band {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.b-site-location-band__section-name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: $hoverColor;
}

.reg-content {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.reg-content__promo {
  width: 652px;
}

.reg-content__promo-heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.reg-content__promo-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg-content__promo-text > img {
  margin-right: 22px;
  padding-top: 16px;
}
